services:
 app:
  build: .
  container_name: app
  ports:
   - "5000:5000"

 nginx:
  image: nginx:latest
  container_name: nginx
  ports:
   - "80:80"
  volumes:
   - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
  depends_on:
   - app
