name: CD Deployment

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SERVER_HOST_KEY: ${{ secrets.SERVER_HOST_KEY }}
        run: |
          mkdir -p "$HOME/.ssh"
          chmod 700 "$HOME/.ssh"

          echo "$SSH_PRIVATE_KEY" > "$HOME/.ssh/id_ed25519"
          chmod 600 "$HOME/.ssh/id_ed25519"

          echo "$SERVER_HOST_KEY" > "$HOME/.ssh/known_hosts"
          chmod 644 "$HOME/.ssh/known_hosts"

      - name: Deploy to server
        run: |
          ssh giant@192.168.56.101 "echo 'Deploy success'"
