name: CI - Docker Release

on:
  push:
    branches: [ master ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker Image
        run: docker build -t jeypijey03/devops-basic:v2 .

      - name: Tag latest
        run: docker tag jeypijey03/devops-basic:v2 jeypijey03/devops-basic:latest

      - name: Push v2
        run: docker push jeypijey03/devops-basic:v2

      - name: Push latest
        run: docker push jeypijey03/devops-basic:latest
