name: CI - Docker Build Validation

on:
 pull_request:
  branches: [ master ]

jobs:
 build:
  runs-on: ubuntu-latest

  steps:
   - name: Checkout repository
     uses: actions/checkout@v4

   - name: Show repository structure
     run: ls -la

   - name: Build Docker Image
     run: docker build -t devops-basic .

   - name: CI Success
     run: echo "Docker image built successfully"
